/* stylelint-disable selector-class-pattern */
/* stylelint-disable color-no-hex */
/* stylelint-disable property-disallowed-list */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

.root-style {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
