/* stylelint-disable color-no-hex */
@use "@angular/material" as mat;
@use '../../../dist/ngx-fudis/index' as fudis;
@include mat.core;

:root {
	--fudis-color-primary-light: #e0f4fd;
	--fudis-color-primary: #0a729e;
	--fudis-color-primary-dark: #0e5d81;
	--fudis-color-primary-extra-dark: #1b2e36;
}