<form [formGroup]="mainFormGroup">
	<fudis-checkbox
		[checkboxControl]="checkboxFirst"
		id="example_checkbox_1_id"
		[disabled]="true"
		name="example_checkbox_1_name"
		label="I am an example!"></fudis-checkbox>
	<fudis-checkbox
		[checkboxControl]="checkboxSecond"
		id="example_checkbox_2_id"
		name="example_checkbox_2_name"
		errorMessage="There is something wrong with me. Probably I am set as required in my FormControl."
		label="I am an another example!"></fudis-checkbox>

	<div [style.display]="'flex'" [style.flex-direction]="'column'">
		<fudis-body-text>Value of first box: {{ checkboxFirst.value }}</fudis-body-text>
		<fudis-body-text>Value of second box: {{ checkboxSecond.value }}</fudis-body-text>
		<fudis-body-text size="s-regular"
			>For testing purposes this button below triggers checkbox value update outside of checkbox components
		</fudis-body-text>
		<fudis-button (click)="changeValueFromOutside()" label="Click here to toggle second checkbox!"></fudis-button>
	</div>
</form>
