<ng-container *transloco="let t">
  <fudis-grid [classes]="'fudis-mt-xl'" [align]="'center'">
    <fudis-heading [level]="1">Fudis Exercise</fudis-heading>
    <fudis-body-text>
On this page, you'll find two hands-on exercises designed to help you get familiar with the Fudis component library. Pick either exercise and follow the step-by-step instructions. In the first exercise, you'll build a layout using the Fudis grid and basic components. In the second, you'll learn how to contribute to the Fudis component library yourself.
    </fudis-body-text>
    <fudis-heading [level]="2" [variant]="'sm'">Pre-requirement</fudis-heading>
    <fudis-heading [level]="3" [variant]="'xxs'" [class]="'fudis-mb-none'">Before starting the exercises:</fudis-heading>
    <ol class="fudis-pl-lg fudis-body-text fudis-body-text__md-regular">
      <li>
        <fudis-body-text>Make sure that your have both environments, Storybook and Sandbox, running as documented on <a fudisLink [href]="`https://fudis.funidata.fi/ngx/v/${version}/index.html?path=/docs/documentation-development-getting-started--documentation`" [title]="'Getting Started with Development Environment'" [external]="true"></a>.</fudis-body-text>
      </li>
      <li class="fudis-mt-xs">
        <fudis-body-text>
         Create a Git branch with a suitable name for the exercise you are doing. 
      For example, if you are doing the first exercise, you can name your branch "exercise-one". More detailed instructions on how to name your branch and commit messages are documented on page <a fudisLink [href]="`https://fudis.funidata.fi/ngx/v/${version}/index.html?path=/docs/documentation-development-tooling-git-and-github-conventions--documentation`" [title]="'Git and GitHub Conventions'" [external]="true"></a>. But for the sake of this exercise you don't need to stick to them.
          </fudis-body-text>
      </li>
    </ol>
      <fudis-tab-navigation-bar
      [id]="'fudis-tab-navigation-1'"
      [variant]="'primary'"
      [panel]="navigationTabPanel">
      @for (route of routes; track route.id) {
      <button
        fudis-tab-navigation-tab
        [routerLink]="[route.path]"
        [active]="router.isActive('exercise/' + route.path, { paths: 'exact', queryParams: 'ignored', fragment: 'ignored', matrixParams: 'ignored' })"
        [id]="route.id">
        {{ route.label }}
      </button>
      }
    </fudis-tab-navigation-bar>
      </fudis-grid>
    <fudis-tab-navigation-panel [id]="'fudis-panel-1'" #navigationTabPanel>
      <router-outlet></router-outlet>
  </fudis-tab-navigation-panel>
</ng-container>

<!-- Un modified excercise -->
<!-- <ng-container *transloco="let t">
  <div class="root-style">
  <fudis-grid [classes]="'fudis-mt-xl'" [align]="'center'">
      <fudis-heading [level]="1">Timeline</fudis-heading>
      <fudis-body-text>
Plan and view the overall picture of your studies on the timeline. Schedule your courses and view the placement of completed courses on the timeline. Select the study plan for which you want to view and edit the overall picture.
      </fudis-body-text>
      <fudis-badge [variant]="'success'" [content]="'Primary study plan'"></fudis-badge>
      <fudis-dl [variant]="'compact'">
        <fudis-dl-item>
          <fudis-dt [contentText]="'Education'"></fudis-dt>
          <fudis-dd [contentText]="'Markun ylempi Education (Study plan 1, Curriculum period: 2018-2019)'"></fudis-dd>
        </fudis-dl-item>
        <fudis-dl-item>
          <fudis-dt [contentText]="'Created'"></fudis-dt>
          <fudis-dd [contentText]="'15.9.20182'"></fudis-dd>
        </fudis-dl-item>
        <fudis-dl-item>
          <fudis-dt [contentText]="'Modified'"></fudis-dt>
          <fudis-dd [contentText]="'11.3.2026'"></fudis-dd>
        </fudis-dl-item>  
      </fudis-dl>
      <fudis-body-text>Markun ylempi, 0-40 cr</fudis-body-text>
      <fudis-dl>
        <fudis-dl-item>
          <fudis-dt [contentText]="'Scheduled credits'"></fudis-dt>
          <fudis-dd [contentText]="'0'"></fudis-dd>
        </fudis-dl-item>
        <fudis-dl-item>
          <fudis-dt [contentText]="'Completed credits'"></fudis-dt>
          <fudis-dd [contentText]="'0'"></fudis-dd>
        </fudis-dl-item>
      </fudis-dl>
      <fudis-heading [level]="2">Study plan timeline</fudis-heading>
      <fudis-body-text>
          Schedule any unfinished courses in the study plan on the timeline. You can edit and delete timings for periods on the timeline. The timeline also shows the placement of completed credits.
      </fudis-body-text>
      <fudis-dl>
        <fudis-dl-item>
          <fudis-dt [contentText]="'Study right'"></fudis-dt>
          <fudis-dd [contentText]="'Starting from 1.8.2019'"></fudis-dd>
        </fudis-dl-item>
      </fudis-dl>
      <fudis-button [label]="'Start scheduling'"></fudis-button>
      <fudis-button [variant]="'secondary'" [label]="'Delete all timings'" [icon]="'delete'"></fudis-button>
      <fudis-checkbox [label]="'Show empty summer periods on the timeline'" [control]="testControl"></fudis-checkbox>
      <fudis-checkbox [label]="'Show past semesters on the timeline'" [control]="myControl"></fudis-checkbox>
  </fudis-grid>
  </div>
</ng-container> -->