<ng-container *transloco="let t">
  <div class="root-style">
  <fudis-grid [columns]="1" [classes]="'fudis-mt-xl'" [align]="'center'">
      <fudis-heading [level]="1">This is Fudis Exercise</fudis-heading>
      <table>
        <thead>
          <tr>
            <th>Tutkintokoulutus</th>
            <th>Yliopisto</th>
            <th>Opiskeluoikeus</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Arkkitehtuurin koulutus</td>
            <td>Test University</td>
            <td>Active</td>
        </tr>
        </tbody>
      </table>
  </fudis-grid>
  </div>
</ng-container>