# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/ngx-fudis/dist
/ngx-fudis/tmp
/ngx-fudis/out-tsc
/ngx-fudis/bazel-out
**/.storybook/target

# Node
node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/ngx-fudis/.angular/cache
.sass-cache/
/ngx-fudis/connect.lock
/ngx-fudis/coverage
/ngx-fudis/libpeerconnection.log
testem.log
/ngx-fudis/typings
documentation.json

# System files
.DS_Store
Thumbs.db
