services:
  fudis-storybook:
    build:
      context: ./ngx-fudis/
      target: dev
    image: fudis
    container_name: fudis-storybook
    tty: true
    ports:
      - 6006:6006
    environment:
      - STORYBOOK_FUDIS_VERSION=${BRANCH_NAME}
    volumes:
      - ./ngx-fudis/projects/ngx-fudis/src:/usr/src/app/projects/ngx-fudis/src
      - ./ngx-fudis/projects/documentation:/usr/src/app/projects/documentation

  fudis-sandbox:
    image: fudis
    container_name: fudis-sandbox
    command: npm start
    tty: true
    ports:
      - 4200:4200
    volumes:
      - ./ngx-fudis/projects/dev/src:/usr/src/app/projects/dev/src

  fudis-vr:
    build: ./test
    container_name: fudis-vr
    tty: true
    ports:
      - 9323:9323
    environment:
      - PLAYWRIGHT_BASE_URL=http://fudis-storybook:6006
      - CONTAINER=true
    volumes:
      - ./test/visual-regression:/usr/src/app/visual-regression
      - ./test/playwright-report:/usr/src/app/playwright-report
      - ./test/test-results:/usr/src/app/test-results
