<ng-container *transloco="let t">
  <fudis-grid [classes]="'fudis-mt-xl'" [align]="'center'">
      <fudis-heading [level]="2">Contributing to Fudis Design System</fudis-heading>
      <fudis-body-text>
        Fudis Design System is an open source project and we welcome contributions from everyone.
        This exercise guides you through the process of contributing to Fudis Design System.
      </fudis-body-text>
      <fudis-body-text>
        In this exercise you will be creating a Storybook story where you utilise Fudis Dialog. As a bonus task, you will get familiar with styling elements by using Core style Library
      </fudis-body-text>
      <fudis-dl>
      <fudis-dl-item>
        <fudis-dt
          [contentText]="'Task objectives'"
        ></fudis-dt>
        <fudis-dd>
          <fudis-dl [variant]="'compact'">
            <fudis-dl-item>
              <fudis-dt [contentText]="'Goal'"></fudis-dt>
              <fudis-dd [contentText]="'Getting to know the contributions process'"></fudis-dd>
            </fudis-dl-item>
            <fudis-dl-item>
              <fudis-dt [contentText]="'Task'"></fudis-dt>
              <fudis-dd [contentText]="'Create a story with provided content.'"></fudis-dd>
            </fudis-dl-item>
            <fudis-dl-item>
              <fudis-dt [contentText]="'Bonus'"></fudis-dt>
              <fudis-dd [contentText]="'Style elements with Core Style Library.'"></fudis-dd>
            </fudis-dl-item>
          </fudis-dl>
        </fudis-dd>
      </fudis-dl-item>
    </fudis-dl>
    <fudis-heading [level]="2" [variant]="'sm'">Instructions</fudis-heading>
    <ol class="fudis-pl-lg fudis-body-text fudis-body-text__md-regular fudis-mb-xxl">
      <li>
        <fudis-body-text>The contribution process is documented on our page <a fudisLink [href]="`https://fudis.funidata.fi/ngx/v/${version}/index.html?path=/docs/documentation-development-how-to-contribute--documentation`" [title]="'How to Contribute'" [external]="true"></a>.
          On this exercise we will be focusing on continuing from  Implementation step-by-step, 4/5 "Create your implementation" onwards. For this exercise you don't have to create unit tests or visual regression tests.</fudis-body-text>
      </li>
      <li class="fudis-mt-xs">
        <fudis-body-text>
          Download the provided content, that includes exercise-2.component.ts and exercise-2.stories.ts templates.<a fudisLink [href]="'../../../assets/downloads/exercise-2.zip'" download [title]="'Download exercise 2 content'"></a>
        </fudis-body-text>
      </li>
      <li class="fudis-mt-xs">
        <fudis-body-text>
          Now I used have Exercise 2 story, showing on your sidepanel. 
        </fudis-body-text>
      </li>
    </ol>
  </fudis-grid>
</ng-container>