<ng-container *transloco="let t">
  <fudis-grid [classes]="'fudis-mt-xl'" [align]="'center'">
      <fudis-heading [level]="2">Contributing to Fudis Design System</fudis-heading>
      <fudis-body-text>
        Fudis Design System is an open source project and we welcome contributions from everyone.
        This exercise guides you through the process of contributing to Fudis Design System. The contribution process is also documented on our page <a fudisLink [href]="`https://fudis.funidata.fi/ngx/v/${version}/index.html?path=/docs/documentation-development-how-to-contribute--documentation`" [title]="'How to Contribute'" [external]="true"></a>.
      </fudis-body-text>
      <fudis-body-text>
        In this exercise you will be creating a Storybook story where you utilise Fudis Dialog. As a bonus task, you will get familiar with styling elements by using Core style Library
      </fudis-body-text>
  </fudis-grid>
</ng-container>