/*
* This file is for Storybook
*/

@use '@angular/material' as mat;
@use './src/lib/foundations/typography/mixins.scss' as typography;

// Fudis theme import
@import './src/lib/theme/component-themes-to-apply';

// Import font files globally
@import './src/lib/assets/fonts/fonts';
@import './src/lib/foundations/utilities/classes';

:root {
  --fudis-rem-multiplier: 1;
  --fudis-color-primary-light: #daedff;
  --fudis-color-primary: #1076db;
  --fudis-color-primary-dark: #1d65b8;
}

html {
  font-size: 100%;
}

/* stylelint-disable color-no-hex */
[data-theme='into'] {
  --fudis-color-primary-light: #e0f4fd;
  --fudis-color-primary: #0a729e;
  --fudis-color-primary-dark: #0e5d81;
  --fudis-color-primary-extra-dark: #1b2e36;
}

[data-theme='sisu'] {
  --fudis-color-primary-light: #daedff;
  --fudis-color-primary: #1076db;
  --fudis-color-primary-dark: #1d65b8;
}

a.sbdocs {
  color: var(--fudis-color-primary);
  font-weight: 600;
}

tr td p.fudis-table-caption {
  @include typography.table-caption();
}

.storybook {
  &__wrapper-border {
    border: 2px solid var(--fudis-color-primary);
  }

  &__item {
    padding: 0.5rem;
    background-color: #f1f1f1;
  }

  &__item-highlight {
    padding: 0.5rem;
    background-color: #fdefb4;
  }
}
