@use "@angular/material" as mat;
@use "./src/lib/components/form/datepicker/ngMaterial-theme.scss";

// Fudis theme import
@import "./src/lib/theme/fudis-theme";

// Fudis styles from components that have to be applied globally.
// @use "src/lib/components/dialog/dialog.scss";

// Each project's primary colors import
@import "./src/lib/foundations/colors/tokens";

// Each project's primary colors import
@import "./src/lib/foundations/borders/mixins";

// Import font files globally
@import './src/lib/assets/fonts/fonts';

/* stylelint-disable color-no-hex */
[data-theme='into'] {
	--fudis-color-primary-light: #e0f4fd;
	--fudis-color-primary: #0a729e;
	--fudis-color-primary-dark: #0e5d81;
	--fudis-color-primary-extra-dark: #1b2e36;
}

[data-theme='sisu'] {
	--fudis-color-primary-light: #daedff;
	--fudis-color-primary: #1076db;
	--fudis-color-primary-dark: #1d65b8;
}