@use "@angular/material" as mat;

// Fudis theme import
@import "./src/lib/theme/component-themes-to-apply";

// Import font files globally
@import './src/lib/assets/fonts/fonts';

@import './src/lib/foundations/utilities/classes.scss';

/* stylelint-disable color-no-hex */
[data-theme='into'] {
	--fudis-color-primary-light: #e0f4fd;
	--fudis-color-primary: #0a729e;
	--fudis-color-primary-dark: #0e5d81;
	--fudis-color-primary-extra-dark: #1b2e36;
}

[data-theme='sisu'] {
	--fudis-color-primary-light: #daedff;
	--fudis-color-primary: #1076db;
	--fudis-color-primary-dark: #1d65b8;
}
