<fudis-button
  class="fudis-mr-sm fudis-mb-sm"
  [label]="'Touch all controls'"
  (handleClick)="touchControls()"
/>
<fudis-button
  class="fudis-mb-sm"
  [label]="'Toggle Form disabled'"
  (handleClick)="toggleFormDisabled()"
/>

<fudis-heading [level]="2">Text Inputs</fudis-heading>
<fudis-grid [columns]="{ md: 2, lg: 'inputSm inputMd inputLg' }">
  <fudis-text-input
    [size]="'sm'"
    [control]="myForm.controls.textInputRequired"
    [label]="inputProps.label"
    [helpText]="inputProps.helpText"
  />
  <fudis-text-input
    [size]="'md'"
    [control]="myForm.controls.textInputToBeLeftEmpty"
    [label]="inputProps.label"
    [helpText]="inputProps.helpText"
  />
  <fudis-text-input
    [size]="'lg'"
    [control]="myForm.controls.textInputToBeLeftEmpty"
    [label]="inputProps.label"
    [helpText]="inputProps.helpText"
  />
  <fudis-text-input
    [size]="'sm'"
    [control]="myForm.controls.textInputToBeLeftEmpty"
    [label]="inputProps.label"
    [helpText]="inputProps.helpText"
    [tooltip]="inputProps.tooltip"
  />
  <fudis-text-input
    [size]="'md'"
    [control]="myForm.controls.textInputToBeLeftEmpty"
    [label]="inputProps.label"
    [helpText]="inputProps.helpText"
    [tooltip]="inputProps.tooltip"
  />
  <fudis-text-input
    [size]="'lg'"
    [control]="myForm.controls.textInputToBeLeftEmpty"
    [label]="inputProps.label"
    [helpText]="inputProps.helpText"
    [tooltip]="inputProps.tooltip"
  />
</fudis-grid>
<fudis-heading class="fudis-mt-lg" [level]="2">Text Areas</fudis-heading>
<fudis-grid [columns]="{ md: 2, lg: 'inputSm inputMd inputLg' }">
  <fudis-text-area
    [size]="'sm'"
    [control]="myForm.controls.textAreaRequired"
    [label]="inputProps.label"
    [helpText]="inputProps.helpText"
  />
  <fudis-text-area
    [size]="'md'"
    [control]="myForm.controls.textAreaToBeLeftEmpty"
    [label]="inputProps.label"
    [helpText]="inputProps.helpText"
  />
  <fudis-text-area
    [size]="'lg'"
    [control]="myForm.controls.textAreaToBeLeftEmpty"
    [label]="inputProps.label"
    [helpText]="inputProps.helpText"
  />
</fudis-grid>
<fudis-heading class="fudis-mt-lg" [level]="2">Datepicker</fudis-heading>
<fudis-grid [columns]="{ md: 2, lg: 'inputSm inputMd inputLg' }">
  <fudis-datepicker
    [size]="'sm'"
    [label]="inputProps.label"
    [control]="myForm.controls.datepickerRequired"
    [helpText]="inputProps.helpText"
  ></fudis-datepicker>
  <fudis-datepicker
    [size]="'md'"
    [label]="inputProps.label"
    [control]="myForm.controls.datepickerToBeLeftEmpty"
    [helpText]="inputProps.helpText"
  ></fudis-datepicker>
  <fudis-datepicker
    [size]="'lg'"
    [label]="inputProps.label"
    [control]="myForm.controls.datepickerToBeLeftEmpty"
    [helpText]="inputProps.helpText"
  ></fudis-datepicker>
</fudis-grid>
<fudis-heading class="fudis-mt-lg" [level]="2">Date Range</fudis-heading>
<fudis-grid>
  <fudis-date-range>
    <fudis-datepicker
      fudisDateStart
      [label]="inputProps.label"
      [control]="myForm.controls.datepickerToBeLeftEmpty"
      [helpText]="inputProps.helpText"
    ></fudis-datepicker>
    <fudis-datepicker
      fudisDateEnd
      [label]="inputProps.label"
      [control]="myForm.controls.datepickerToBeLeftEmpty"
      [helpText]="inputProps.helpText"
    ></fudis-datepicker>
  </fudis-date-range>
</fudis-grid>
