<fudis-heading [level]="2">Loading Spinners</fudis-heading>
<fudis-grid [width]="'xs'" [alignItemsX]="'center'">
  <fudis-loading-spinner [variant]="'sm'" />
  <fudis-loading-spinner [variant]="'sm'" [label]="loadingText" />
  <fudis-loading-spinner [variant]="'lg'" />
  <fudis-loading-spinner [variant]="'lg'" [label]="loadingText" />
</fudis-grid>
<fudis-hr class="fudis-my-md" />
<fudis-heading [level]="2">Body Texts</fudis-heading>
<fudis-body-text [variant]="'lg-regular'" class="fudis-mb-xs"
  >This paragraph has <strong>lg-regular</strong> variant. Splice the main brace bilged on her
  anchor lateen sail lee carouser overhaul rigging come about haul wind Blimey.
</fudis-body-text>
<fudis-body-text [variant]="'lg-light'" class="fudis-mb-xs"
  >This paragraph has <strong>lg-light</strong> variant. Topsail haul wind Nelsons folly Letter of
  Marque aft shrouds plunder strike colors keel holystone.
</fudis-body-text>
<fudis-body-text [variant]="'md-regular'" class="fudis-mb-xs"
  >This paragraph has <strong>md-regular</strong> variant.Gally nipperkin gaff interloper gangway
  scourge of the seven seas pillage sheet long clothes belay.</fudis-body-text
>
<fudis-body-text [variant]="'md-light'" class="fudis-mb-xs"
  >This paragraph has <strong>md-light</strong> variant. Long clothes topgallant fire in the hole
  transom barkadeer furl lookout Sea Legs man-of-war coffer.
</fudis-body-text>
<fudis-body-text [variant]="'sm-regular'"
  >This paragraph has <strong>sm-regular</strong> variant. Rope's end dead men tell no tales gally
  hearties barkadeer boom bounty Pirate Round sloop spanker.
</fudis-body-text>

<fudis-hr class="fudis-my-md" />
<fudis-grid [rowGap]="'sm'">
  <fudis-heading [level]="1">This is Fudis heading: xxl</fudis-heading>
  <fudis-heading [level]="2">This is Fudis heading: xl</fudis-heading>
  <fudis-heading [level]="3">This is Fudis heading: lg</fudis-heading>
  <fudis-heading [level]="4">This is Fudis heading: md</fudis-heading>
  <fudis-heading [level]="5">This is Fudis heading: sm</fudis-heading>
  <fudis-heading [level]="6">This is Fudis heading: xs</fudis-heading>
  <fudis-heading [level]="6" [variant]="'xxs'">This is Fudis heading: xxs</fudis-heading>
</fudis-grid>
<fudis-hr class="fudis-my-md" />
<fudis-grid [rowGap]="'sm'">
  <fudis-heading [level]="2">Badges</fudis-heading>
  <fudis-badge [variant]="'accent'" [content]="'accent'"></fudis-badge>
  <fudis-badge [variant]="'danger'" [content]="'danger'"></fudis-badge>
  <fudis-badge [variant]="'primary'" [content]="'primary'"></fudis-badge>
  <fudis-badge [variant]="'secondary'" [content]="'secondary'"></fudis-badge>
  <fudis-badge [variant]="'success'" [content]="'success'"></fudis-badge>
</fudis-grid>
<fudis-hr class="fudis-my-md" />
<fudis-grid [align]="'start'" [width]="'md'">
  <fudis-heading [level]="2">Notifications</fudis-heading>
  <fudis-notification [variant]="'warning'">
    <fudis-body-text>Note! Please don't do this, okey?</fudis-body-text>
  </fudis-notification>
  <fudis-notification [variant]="'danger'">
    <fudis-body-text>Whoops! Some error happened.</fudis-body-text>
  </fudis-notification>
  <fudis-notification [variant]="'success'">
    <fudis-body-text>You succeeded!</fudis-body-text>
  </fudis-notification>
  <fudis-notification [variant]="'info'">
    <fudis-body-text>This is a totally neutral message</fudis-body-text>
  </fudis-notification>
  <fudis-notification [variant]="'warning'">
    <fudis-body-text>Note! Please don't do this, okey?</fudis-body-text>
    <fudis-body-text
      >If you must do it anyway, please see the documentation for more info.</fudis-body-text
    >
    <fudis-body-text>Also remember to breathe. Everything is going to be okay!</fudis-body-text>
  </fudis-notification>
  <fudis-notification [variant]="'info'">
    <fudis-body-text
      >This is Notification with Link.
      <a
        fudisLink
        href="https://www.example.com"
        [external]="true"
        [title]="'This is example link.'"
      ></a>
    </fudis-body-text>
  </fudis-notification>
  <fudis-notification [variant]="'info'">
    <fudis-body-text
      >This is Notification with Button.
      <fudis-button [label]="'This is example button.'" />
    </fudis-body-text>
  </fudis-notification>
</fudis-grid>
<fudis-hr class="fudis-my-md" />
<fudis-heading [level]="2">Breadcrumbs</fudis-heading>
<fudis-breadcrumbs [label]="'Breadcrumbs'">
  <fudis-breadcrumbs-item *ngFor="let link of breadcrumbLinks; let index = index">
    <a *ngIf="index + 1 !== breadcrumbLinks.length" [href]="link.url">{{ link.label }}</a>
    <fudis-body-text *ngIf="index + 1 === breadcrumbLinks.length">{{ link.label }}</fudis-body-text>
  </fudis-breadcrumbs-item>
</fudis-breadcrumbs>
<fudis-hr class="fudis-my-md" />
<fudis-heading [level]="2">Links</fudis-heading>
<fudis-grid [width]="'sm'" [rowGap]="'md'">
  <a
    fudisLink
    href=""
    [size]="'inherit'"
    [title]="'Independent non-external link of size inherit'"
  ></a>
  <a fudisLink href="" [size]="'md'" [title]="'Independent non-external link of size md'"></a>
  <a fudisLink href="" [size]="'lg'" [title]="'Independent non-external link of size lg'"></a>
  <a
    fudisLink
    href=""
    [size]="'lg'"
    [title]="'Superlongnonexternalsinglewordedlinktotestwordbreakingincaseofsmallscreen'"
  ></a>
  <a
    fudisLink
    href=""
    [external]="true"
    [size]="'inherit'"
    [title]="'Independent external link of size inherit'"
  ></a>
  <a
    fudisLink
    href=""
    [external]="true"
    [size]="'md'"
    [initialFocus]="true"
    [title]="'Independent external link of size md. As a bonus I have initialFocus set to true'"
  ></a>
  <a
    fudisLink
    href=""
    [external]="true"
    [size]="'lg'"
    [title]="'Independent external link of size lg'"
  ></a>
  <a
    fudisLink
    href=""
    [external]="true"
    [size]="'lg'"
    [title]="'Superlongexternalsinglewordedlinktotestwordbreakingincaseofsmallscreen'"
  ></a>

  <fudis-body-text [variant]="'lg-regular'"
    >This Body Text lg-regular has
    <a fudisLink href="" [title]="'non-external link'"></a>
    and
    <a fudisLink href="" [external]="true" [title]="'external link'"></a>
    as its child element.</fudis-body-text
  >
  <fudis-body-text [variant]="'md-regular'"
    >This Body Text md-regular has
    <a fudisLink href="" [title]="'non-external link'"></a>
    and
    <a fudisLink href="" [external]="true" [title]="'external link'"></a>
    as its child elements.</fudis-body-text
  >
  <fudis-body-text [variant]="'sm-regular'"
    >This Body Text sm-regular has
    <a fudisLink href="" [title]="'non-external link'"></a>
    and
    <a fudisLink href="" [external]="true" [title]="'external link'"></a>
    as its child elements.</fudis-body-text
  >
  <fudis-body-text [variant]="'lg-light'"
    >This Body Text lg-light has
    <a fudisLink href="" [title]="'non-external link'"></a>
    and
    <a fudisLink href="" [external]="true" [title]="'external link'"></a>as its child
    elements.</fudis-body-text
  >
  <fudis-body-text [variant]="'md-light'"
    >This Body Text md-light has
    <a fudisLink href="" [title]="'non-external link'"></a>
    and
    <a fudisLink href="" [external]="true" [title]="'external link'"></a>
    as its child elements.</fudis-body-text
  >
</fudis-grid>
<fudis-hr class="fudis-my-md" />
<fudis-heading [level]="2">Icons</fudis-heading>
<fudis-grid [columns]="{ xs: 2, md: 3, lg: 4 }" [width]="'sm'">
  <div
    class="storybook-flex fudis-my-xxs fudis-mx-xxs"
    style="justify-content: space-between"
    *ngFor="let icon of iconArray"
  >
    <fudis-body-text>{{ icon }}</fudis-body-text>
    <fudis-icon [icon]="icon" />
  </div>
</fudis-grid>
<fudis-hr class="fudis-my-md" />
<fudis-heading [level]="2">Footer</fudis-heading>
<fudis-footer>
    <a fudisLink href="example.com" [external]="true" [title]="'Privacy notice'"></a>
    <a fudisLink href="example.com" [external]="true" [title]="'Accessibility statement'"></a>
    <a fudisLink href="example.com" [title]="'System information'"></a>
    <a fudisLink href="example.com" [external]="true" [title]="'Promo link'"></a>
</fudis-footer>
