<ng-container *transloco="let t">
  <div class="root-style">
    <fudis-grid [columns]="1" [marginTop]="'xl'">
      <fudis-heading [level]="1">Welcome to Fudis sandbox </fudis-heading>

      <fudis-expandable [title]="'Random stuff'">
        <ng-template fudisContent type="expandable">
          <fudis-grid [marginTop]="'md'">
            <fudis-notification variant="danger" ariaVariantText="Varoitus!"
              >Whoops! Here is danger notification.</fudis-notification
            >

            <fudis-heading [level]="3" fudisGridItem [columns]="'auto'">
              <fudis-link [href]="'#'" [title]="'Link inside a heading'"></fudis-link>
            </fudis-heading>
            <!-- <fudis-button [label]="'Trigger alert'" (handleClick)="triggerAlert()" /> -->
            <fudis-button [label]="'Open dialog with form'" (handleClick)="openDialog()" />
            <fudis-body-text *ngIf="_message"
              >This value comes from the closed dialog input:
              <strong>{{ _message }}</strong></fudis-body-text
            >
            <fudis-button
              [label]="'Open dialog from component'"
              (handleClick)="openDialogFromComponent()"
            />
            <fudis-button [label]="'Change language'" (handleClick)="changeLanguage()" />
            <!-- <fudis-button
              [label]="'Menu'"
              [labelHidden]="true"
              [size]="'small'"
              [variant]="'secondary'"
              [icon]="'three-dots'"
              [asMenuButton]="true"
            >
              <fudis-dropdown-menu [align]="'right'">
                <fudis-dropdown-menu-item
                  [label]="'Item 1'"
                  (handleClick)="doSomething($event)"
                ></fudis-dropdown-menu-item>
                <fudis-dropdown-menu-item
                  [label]="'Item 22 disabled'"
                  [disabled]="true"
                ></fudis-dropdown-menu-item>
                <fudis-dropdown-menu-item [label]="'Item 23'"></fudis-dropdown-menu-item>
                <fudis-dropdown-menu-item
                  [label]="'Item 45 with very long text so no one really bothers to even read it'"
                ></fudis-dropdown-menu-item>
                <fudis-dropdown-menu-item [label]="'Item 100'"></fudis-dropdown-menu-item>
                <fudis-dropdown-menu-item [label]="'Item 2200250'"></fudis-dropdown-menu-item>
                <fudis-dropdown-menu-item [label]="'Item 878787878571'"></fudis-dropdown-menu-item>
              </fudis-dropdown-menu>
            </fudis-button> -->
          </fudis-grid>
        </ng-template>
      </fudis-expandable>

      <app-dropdown-examples fudisGridItem [columns]="'stretch'" />
      <app-form-examples fudisGridItem [columns]="'stretch'" />

      <fudis-expandable [title]="'Description list'">
        <ng-template fudisContent type="expandable">
          <!-- <fudis-description-list [data]="testData"></fudis-description-list> -->
        </ng-template>
      </fudis-expandable>

      <fudis-expandable [title]="'Grid stuff'">
        <ng-template fudisContent type="expandable">
          <fudis-grid [columns]="1" [rowGap]="'xxl'">
            <fudis-grid [columns]="2">
              <fudis-heading [level]="3" [variant]="'xl'">Grid stuff!</fudis-heading>
              <fudis-button
                [label]="'Update Grid Service defaults'"
                (handleClick)="updateGridServiceDefaults()"
              />
              <fudis-button
                [label]="'Update Grid [alignItemsX] value'"
                (handleClick)="updateGridAlignValue()"
              />
            </fudis-grid>

            <fudis-grid [alignItemsX]="_gridAlignValue" [rowGap]="'sm'">
              <fudis-heading [level]="3">Listen to Columns but not AlignItemsX</fudis-heading>
              <fudis-body-text
                >This Grid has [alignItemsX]="'{{ _gridAlignValue }}'"</fudis-body-text
              >
              <fudis-body-text
                >Even if Service values are updated, this should not affect
                alignment</fudis-body-text
              >
              <fudis-body-text
                >But this Grid columns layout should change as well from 2 to 3 cols in lg
                screen!</fudis-body-text
              >
            </fudis-grid>
            <fudis-grid [columns]="2">
              <fudis-heading [level]="3">Listen to AlignItemsX but not Columns</fudis-heading>
              <fudis-body-text>This Grid has no set alignItemsX value</fudis-body-text>
              <fudis-body-text>It should listen to Service updates on alignItemsX</fudis-body-text>
              <fudis-body-text
                >But it has columns="2" and it should not listen to Service's
                columns</fudis-body-text
              >
            </fudis-grid>

            <fudis-grid [serviceDefaults]="false">
              <fudis-heading [level]="3">Service Defaults are turned of</fudis-heading>
              <fudis-body-text
                >This Grid has no set alignItemsX value, but it is ignoring defaults from
                Service!</fudis-body-text
              >
              <fudis-body-text>It should NOT listen to Service updates!</fudis-body-text>
            </fudis-grid>
          </fudis-grid>
        </ng-template>
      </fudis-expandable>

      <fudis-expandable [title]="'Expandable lite'" [variant]="'lite'" [padding]="'small'">
        <ng-template fudisContent type="expandable">
          <fudis-body-text>Expandable lite without large content padding.</fudis-body-text>
        </ng-template>
      </fudis-expandable>
    </fudis-grid>
  </div>
</ng-container>
