<fudis-heading [level]="2">Text Inputs</fudis-heading>
<fudis-grid [columns]="{ sm: 1, md: 2, lg: 'inputSm inputMd inputLg' }">
  <fudis-text-input
    [size]="'sm'"
    [control]="myForm.controls.textInput"
    [label]="textInputProps.label"
    [helpText]="textInputProps.helpText"
  />
  <fudis-text-input
    [size]="'md'"
    [control]="myForm.controls.textInput"
    [label]="textInputProps.label"
    [helpText]="textInputProps.helpText"
  />
  <fudis-text-input
    [size]="'lg'"
    [control]="myForm.controls.textInput"
    [label]="textInputProps.label"
    [helpText]="textInputProps.helpText"
  />
  <fudis-text-input
    [size]="'sm'"
    [control]="myForm.controls.textInput"
    [label]="textInputProps.longLabel"
    [helpText]="textInputProps.helpText"
  />
  <fudis-text-input
    [size]="'md'"
    [control]="myForm.controls.textInput"
    [label]="textInputProps.longLabel"
    [helpText]="textInputProps.helpText"
  />
  <fudis-text-input
    [size]="'lg'"
    [control]="myForm.controls.textInput"
    [label]="textInputProps.longLabel"
    [helpText]="textInputProps.helpText"
  />
  <fudis-text-input
    [size]="'sm'"
    [control]="myForm.controls.textAreaRequired"
    [label]="textInputProps.longLabel"
    [helpText]="textInputProps.helpText"
  />
  <fudis-text-input
    [size]="'md'"
    [control]="myForm.controls.textAreaRequired"
    [label]="textInputProps.longLabel"
    [helpText]="textInputProps.helpText"
  />
  <fudis-text-input
    [size]="'lg'"
    [control]="myForm.controls.textAreaRequired"
    [label]="textInputProps.longLabel"
    [helpText]="textInputProps.helpText"
  />
  <fudis-text-input
    [size]="'sm'"
    [control]="myForm.controls.textAreaRequired"
    [label]="textInputProps.longLabel"
    [helpText]="textInputProps.helpText"
    [tooltip]="textInputProps.tooltip"
  />
  <fudis-text-input
    [size]="'md'"
    [control]="myForm.controls.textAreaRequired"
    [label]="textInputProps.longLabel"
    [helpText]="textInputProps.helpText"
    [tooltip]="textInputProps.tooltip"
  />
  <fudis-text-input
    [size]="'lg'"
    [control]="myForm.controls.textAreaRequired"
    [label]="textInputProps.longLabel"
    [helpText]="textInputProps.helpText"
    [tooltip]="textInputProps.tooltip"
  />
</fudis-grid>
