<form [formGroup]="mainFormGroup">
	<fudis-radio-button-group
		label="Choose your preferred fruit"
		*ngIf="mainFormGroup"
		[radioButtonFormControl]="radioButtonGroupOne"
		[options]="fruitOptions"></fudis-radio-button-group>
	<fudis-body-text *ngIf="radioButtonGroupOne.value">Option chosen: {{ radioButtonGroupOne.value }}</fudis-body-text>
	<fudis-body-text *ngIf="!radioButtonGroupOne.value">No value chosen for the first :(</fudis-body-text>
	<fudis-radio-button-group
		label="Choose a pet"
		*ngIf="mainFormGroup"
		[radioButtonFormControl]="radioButtonGroupTwo"
		[options]="petOptions"></fudis-radio-button-group>

	<fudis-body-text *ngIf="radioButtonGroupTwo.value">Option chosen: {{ radioButtonGroupTwo.value }}</fudis-body-text>
	<fudis-body-text *ngIf="!radioButtonGroupTwo.value">No value chosen for the second :(</fudis-body-text>
</form>
