<ng-container *transloco="let t">
  <div class="root-style">
    <!-- <fudis-alert-group /> -->

    <fudis-grid [columns]="4" [marginTop]="'lg'">
      <fudis-grid-item [columns]="'3 / 4'" [alignSelfX]="'end'" [alignSelfY]="'end'">
        <fudis-body-text>1 rem = {{ visibleRemValue }}px</fudis-body-text>
        <fudis-body-text>Font size is {{ fontSize }}</fudis-body-text>
      </fudis-grid-item>
      <fudis-grid-item [columns]="'4 / -1'" [alignSelfX]="'end'">
        <fudis-button [label]="'Change REM base'" (handleClick)="changeRemBase()"></fudis-button>
      </fudis-grid-item>
    </fudis-grid>
    <fudis-grid [columns]="1" [marginTop]="'xl'">
      <fudis-heading [level]="1">Welcome to Fudis sandbox </fudis-heading>

      <fudis-expandable [title]="'Random stuff'">
        <ng-template fudisContent type="expandable">
          <fudis-grid [marginTop]="'md'">
            <fudis-notification variant="danger" ariaVariantText="Varoitus!"
              >Whoops! Here is danger notification.</fudis-notification
            >

            <fudis-heading [level]="3" fudisGridItem [columns]="'auto'">
              <fudis-link [href]="'#'" [linkTitle]="'Link inside a heading'"></fudis-link>
            </fudis-heading>
            <!-- <fudis-button [label]="'Trigger alert'" (handleClick)="triggerAlert()" /> -->
            <fudis-button
              [label]="'Open dialog from template with fudis-form'"
              (handleClick)="openDialog()"
            />
            <fudis-button
              [label]="'Open dialog from component'"
              (handleClick)="openDialogFromComponent()"
            />
            <fudis-button [label]="'Change language'" (handleClick)="changeLanguage()" />
            <!-- <fudis-button
              [label]="'Menu'"
              [labelHidden]="true"
              [size]="'small'"
              [variant]="'secondary'"
              [icon]="'three-dots'"
              [asMenuButton]="true"
            >
              <fudis-dropdown-menu [align]="'right'">
                <fudis-dropdown-menu-item
                  [label]="'Item 1'"
                  (handleClick)="doSomething($event)"
                ></fudis-dropdown-menu-item>
                <fudis-dropdown-menu-item
                  [label]="'Item 22 disabled'"
                  [disabled]="true"
                ></fudis-dropdown-menu-item>
                <fudis-dropdown-menu-item [label]="'Item 23'"></fudis-dropdown-menu-item>
                <fudis-dropdown-menu-item
                  [label]="'Item 45 with very long text so no one really bothers to even read it'"
                ></fudis-dropdown-menu-item>
                <fudis-dropdown-menu-item [label]="'Item 100'"></fudis-dropdown-menu-item>
                <fudis-dropdown-menu-item [label]="'Item 2200250'"></fudis-dropdown-menu-item>
                <fudis-dropdown-menu-item [label]="'Item 878787878571'"></fudis-dropdown-menu-item>
              </fudis-dropdown-menu>
            </fudis-button> -->
          </fudis-grid>
        </ng-template>
      </fudis-expandable>

      <app-dropdown-examples fudisGridItem [columns]="'stretch'" />
      <app-form-examples fudisGridItem [columns]="'stretch'" />

      <fudis-expandable [title]="'Description list'">
        <ng-template fudisContent type="expandable">
          <!-- <fudis-description-list [data]="testData"></fudis-description-list> -->
        </ng-template>
      </fudis-expandable>

      <fudis-expandable [title]="'Grid stuff'">
        <ng-template fudisContent type="expandable">
          <fudis-heading [level]="3" [size]="'xl'">Väliotsikko</fudis-heading>
          <fudis-grid>
            <fudis-body-text>Showcase of grid items</fudis-body-text>
            <fudis-body-text>Showcase of grid items</fudis-body-text>
            <fudis-body-text>Showcase of grid items</fudis-body-text>
            <fudis-body-text>Showcase of grid items</fudis-body-text>
            <fudis-body-text>Showcase of grid items</fudis-body-text>
            <fudis-body-text>Showcase of grid items</fudis-body-text>
          </fudis-grid>
        </ng-template>
      </fudis-expandable>

      <fudis-expandable [title]="'Expandable lite'" [variant]="'lite'" [padding]="'small'">
        <ng-template fudisContent type="expandable">
          <fudis-body-text>Expandable lite without large content padding.</fudis-body-text>
        </ng-template>
      </fudis-expandable>
    </fudis-grid>

    <fudis-footer>
      <ng-template fudisFooterRight>
        <fudis-link [href]="'example.com'" [linkTitle]="'Tietosuojaseloste'" [external]="true" />
        <fudis-link
          [href]="'example.com'"
          [linkTitle]="'Saavutettavuusseloste'"
          [external]="true"
        />
        <fudis-link [href]="'example.com'" [linkTitle]="'Järjestelmätiedot'" />
      </ng-template>
      <ng-template fudisFooterLeft>
        <fudis-link [href]="'example.com'" [linkTitle]="'Promo link'" [external]="true" />
      </ng-template>
    </fudis-footer>
  </div>
</ng-container>

<ng-template #exampleDialogTemplate>
  <fudis-dialog [size]="'sm'">
    <fudis-dialog-content>
      <fudis-form
        [errorSummaryLinkType]="'href'"
        [errorSummaryVisible]="errorSummaryVisible"
        [title]="'Dialog with fudis-form'"
        [errorSummaryHelpText]="'You did not fill all the required information'"
        [titleLevel]="2"
      >
        <ng-template fudisContent [type]="'form'">
          <fudis-fieldset [title]="'We need some information'">
            <ng-template fudisContent [type]="'fieldset'">
              <fudis-checkbox-group
                [title]="'Choose berry'"
                [helpText]="'Berries are yummy'"
                [required]="true"
                [tooltip]="'We want to know!'"
                [formGroup]="testFormGroup.controls['checkboxFormGroup']"
              >
                <fudis-checkbox
                  *ngFor="let option of checkboxOptions"
                  [controlName]="option.controlName"
                  [label]="option.label"
                />
              </fudis-checkbox-group>
              <fudis-text-input
                [label]="'Is something wrong?'"
                [helpText]="'I hope everything is OK'"
                [control]="testFormGroup.controls['textInput']"
                [tooltip]="
                  'This text-input has multiple validators: required, minlength and maxlength'
                "
              />
              <!-- <fudis-radio-button-group
                [title]="'Choose the truth'"
                [control]="testFormGroup.controls['truth']"
                [options]="radioButtonOptions"
              /> -->
            </ng-template>
          </fudis-fieldset>
        </ng-template>
        <ng-template fudisActions [type]="'form'">
          <fudis-button (handleClick)="submitDialogForm()" [label]="'Submit'"></fudis-button>
          <fudis-button fudisDialogClose [label]="'Cancel'"></fudis-button>
        </ng-template>
      </fudis-form>
    </fudis-dialog-content>
  </fudis-dialog>
</ng-template>
