/* stylelint-disable color-named */
/* stylelint-disable property-disallowed-list */
/* stylelint-disable selector-class-pattern */
/* stylelint-disable unit-disallowed-list */
@use '../../../ngx-fudis/src/lib/foundations/spacing/tokens.scss' as spacing;

.basic-flex-box {
	display: flex;
	flex-direction: column;
	margin-bottom: spacing.$spacing-sm;
	border: spacing.$pixel-2 solid lightblue;
}

.basic-flex-box2 {
	display: flex;
	flex-direction: row;
	margin-bottom: spacing.$spacing-sm;
	border: spacing.$pixel-2 solid lightblue;
	max-width: calc(40rem / var(--fudis-rem-multiplier));
}
