<ng-container *transloco="let t">
  <div class="root-style">
    <!-- <fudis-alert-group /> -->
    <fudis-grid [columns]="1" [rowGap]="'xxl'">
      <fudis-grid [columns]="2">
        <fudis-heading [level]="3" [size]="'xl'">Grid stuff!</fudis-heading>
        <fudis-button
          [label]="'Update Grid Service defaults'"
          (handleClick)="updateGridServiceDefaults()"
        />
        <fudis-button
          [label]="'Update Grid [alignItemsX] value'"
          (handleClick)="updateGridAlignValue()"
        />
      </fudis-grid>

      <fudis-grid [alignItemsX]="_gridAlignValue" [rowGap]="'sm'">
        <fudis-heading [level]="3">Listen to Columns but not AlignItemsX</fudis-heading>
        <fudis-body-text>This Grid has [alignItemsX]="'{{ _gridAlignValue }}'"</fudis-body-text>
        <fudis-body-text
          >Even if Service values are updated, this should not affect alignment</fudis-body-text
        >
        <fudis-body-text
          >But this Grid columns layout should change as well from 2 to 3 cols in lg
          screen!</fudis-body-text
        >
      </fudis-grid>
      <fudis-grid [columns]="2">
        <fudis-heading [level]="3">Listen to AlignItemsX but not Columns</fudis-heading>
        <fudis-body-text>This Grid has no set alignItemsX value</fudis-body-text>
        <fudis-body-text>It should listen to Service updates on alignItemsX</fudis-body-text>
        <fudis-body-text
          >But it has columns="2" and it should not listen to Service's columns</fudis-body-text
        >
      </fudis-grid>

      <fudis-grid [serviceDefaults]="false">
        <fudis-heading [level]="3">Service Defaults are turned of</fudis-heading>
        <fudis-body-text
          >This Grid has no set alignItemsX value, but it is ignoring defaults from
          Service!</fudis-body-text
        >
        <fudis-body-text>It should NOT listen to Service updates!</fudis-body-text>
      </fudis-grid>
    </fudis-grid>
  </div>
</ng-container>

<ng-template #exampleDialogTemplate>
  <fudis-dialog [size]="'sm'">
    <fudis-dialog-content>
      <fudis-form
        [errorSummaryLinkType]="'href'"
        [errorSummaryVisible]="errorSummaryVisible"
        [title]="'Dialog with fudis-form'"
        [errorSummaryHelpText]="'You did not fill all the required information'"
        [titleLevel]="2"
      >
        <ng-template fudisContent [type]="'form'">
          <fudis-fieldset [title]="'We need some information'">
            <ng-template fudisContent [type]="'fieldset'">
              <fudis-checkbox-group
                [title]="'Choose berry'"
                [helpText]="'Berries are yummy'"
                [tooltip]="'We want to know!'"
                [formGroup]="testFormGroup.controls['checkboxFormGroup']"
              >
                <fudis-checkbox
                  *ngFor="let option of checkboxOptions"
                  [controlName]="option.controlName"
                  [label]="option.label"
                />
              </fudis-checkbox-group>
              <fudis-text-input
                [label]="'Is something wrong?'"
                [helpText]="'I hope everything is OK'"
                [control]="testFormGroup.controls['textInput']"
                [tooltip]="
                  'This text-input has multiple validators: required, minlength and maxlength'
                "
              />
              <!-- <fudis-radio-button-group
                [title]="'Choose the truth'"
                [control]="testFormGroup.controls['truth']"
                [options]="radioButtonOptions"
              /> -->
            </ng-template>
          </fudis-fieldset>
        </ng-template>
        <ng-template fudisActions [type]="'form'">
          <fudis-button (handleClick)="submitDialogForm()" [label]="'Submit'"></fudis-button>
          <fudis-button fudisDialogClose [label]="'Cancel'"></fudis-button>
        </ng-template>
      </fudis-form>
    </fudis-dialog-content>
  </fudis-dialog>
</ng-template>
