/*
* This file is for Storybook
*/

@use '../projects/ngx-fudis/index';
@use '@funidata/fudis-core/styles';
@use '@funidata/fudis-core' as core;

:root {
  --fudis-rem-multiplier: 1;
  --fudis-color-primary-light: #daedff;
  --fudis-color-primary: #1076db;
  --fudis-color-primary-dark: #1d65b8;
}

html {
  font-size: 100%;
}

a.sbdocs {
  color: var(--fudis-color-primary);
  font-weight: 600;
}

tr td p {
  &.fudis-table-caption {
    @include core.table-caption;
  }
  &.fudis-text-emptystate {
    @include core.text-emptystate;
  }
}

.storybook {
  &__wrapper-border {
    border: 2px solid var(--fudis-color-primary);
  }

  &__item {
    padding: 0.5rem;
    background-color: #f1f1f1;
  }

  &__item-highlight {
    padding: 0.5rem;
    background-color: #fdefb4;
  }
}

/* Disables transform on Docs Canvas (usually used to display component examples).
 * Storybook's transform style was first detected to break Select's dropdown positioning but is now targeted to all stories.
 * If this is found to cause issues later on, we should target the override to only stories which includes Selects/Multiselects.
 */
.docs-story div[scale] {
  transform: none !important;
}
