<fudis-expandable [title]="'Dropdown examples'">
  <ng-template fudisContent type="expandable">
    <fudis-grid [width]="'sm'" [columns]="2">
      <fudis-dropdown
        [control]="testFormGroup.controls.dropdownFirst"
        [options]="_options"
        [multipleOption]="true"
        [label]="'First dropdown'"
      />
      <fudis-dropdown
        [control]="testFormGroup.controls.dropdownSecond"
        [options]="_options"
        [multipleOption]="true"
        [label]="'Second dropdown'"
      />
    </fudis-grid>
  </ng-template>
</fudis-expandable>
