<ng-container *transloco="let t">
  <fudis-expandable
    [title]="'Form with some transloco'"
    [level]="2"
    [closed]="formExpandableClosed"
  >
    <fudis-expandable-actions>
      <fudis-button [label]="'Submit!'" (handleClick)="clickSubmit()"></fudis-button>
      <fudis-button
        [label]="'Custom error status: ' + customError"
        (handleClick)="toggleCustomError()"
      ></fudis-button>
    </fudis-expandable-actions>
    <ng-template fudisExpandableContent>
      <fudis-form
        [errorSummaryVisible]="errorSummaryVisible"
        [title]="'Form title here hello'"
        [errorSummaryTitle]="'There were some errors'"
        [level]="2"
      >
        <fudis-form-content>
          <fudis-fieldset [label]="t('fieldsetTitle')">
            <fudis-fieldset-content>
              <fudis-checkbox-group
                [label]="t('chooseBerry')"
                [helpText]="t('chooseBerryHelp')"
                [tooltip]="t('chooseBerryTooltip')"
                [formGroup]="testFormGroup.controls.checkboxFormGroup"
              >
                <fudis-checkbox
                  *ngFor="let option of checkboxOptions"
                  (handleChange)="handleChange($event)"
                  [controlName]="option.controlName!"
                  [label]="option.label"
                />
              </fudis-checkbox-group>
              <fudis-text-input
                [label]="t('label')"
                [helpText]="t('helpText')"
                [control]="testFormGroup.controls.textInput"
                [tooltip]="
                  'This text-input has multiple validators: required, minlength and maxlength'
                "
              >
                <fudis-error-message
                  *ngIf="customError"
                  [message]="t('form_errors.customErrorMessage')"
                />
                <fudis-error-message
                  *ngIf="customError"
                  [message]="'Backend threw an error, it is not totally fault of this component'"
                />
              </fudis-text-input>
              <fudis-radio-button-group
                [label]="t('chooseTruth')"
                [helpText]="t('chooseTruthHelp')"
                [control]="testFormGroup.controls.truth"
              >
                <fudis-radio-button
                  *ngFor="let option of radioButtonOptions"
                  [label]="option.label"
                  [value]="option.value"
                />
              </fudis-radio-button-group>

              <fudis-datepicker
                [label]="'Select some date'"
                [control]="testFormGroup.controls.date"
              />
              <fudis-text-area
                [label]="'Basic required text-area'"
                [control]="testFormGroup.controls.textArea"
              />
              <fudis-localized-text-group
                [label]="'At least one required'"
                [formGroup]="testFormGroup.controls.withLanguages"
              />
            </fudis-fieldset-content>
          </fudis-fieldset>
        </fudis-form-content>
      </fudis-form>

      <fudis-body-text *ngIf="showSuccessBodyText">It seems everything is okay!</fudis-body-text>
    </ng-template>
  </fudis-expandable>
  <fudis-expandable [title]="'Select Examples'" [level]="2" [closed]="false">
    <ng-template fudisExpandableContent>
      <fudis-grid [columns]="'inputLg'">
        <fudis-heading [level]="3" [variant]="'md'"
          >Autocomplete multiselect dropdown</fudis-heading
        >
        <fudis-select
          [label]="'Translated Select Dropdown'"
          [control]="selectForm.controls.translatedSelect"
        >
          <ng-template fudisSelectOptions>
            <fudis-select-option *ngFor="let option of translatedSelectOptions" [data]="option" />
          </ng-template>
        </fudis-select>
        <fudis-select
          [label]="'Translated Select Autocomplete Dropdown'"
          [variant]="'autocompleteDropdown'"
          [control]="selectForm.controls.translatedSelect"
        >
          <ng-template fudisSelectOptions>
            <fudis-select-option *ngFor="let option of translatedSelectOptions" [data]="option" />
          </ng-template>
        </fudis-select>

        <fudis-multiselect
          [label]="'Translated Multiselect Dropdown'"
          [control]="selectForm.controls.translatedMultiselect"
        >
          <ng-template fudisSelectOptions>
            <fudis-multiselect-option
              *ngFor="let option of translatedSelectOptions"
              [data]="option"
            />
          </ng-template>
        </fudis-multiselect>
        <fudis-multiselect
          [size]="selectSize"
          [variant]="'autocompleteDropdown'"
          [label]="'Pick a pet Autocomplete Dropdown Multiselect'"
          [control]="selectForm.controls.autocompleteSearch"
        >
          <ng-template fudisSelectOptions>
            <fudis-multiselect-option *ngFor="let option of selectOptions" [data]="option" />
          </ng-template>
        </fudis-multiselect>
        <fudis-button [label]="'Change Select size'" (handleClick)="changeSelectSize()" />
      </fudis-grid>
    </ng-template>
  </fudis-expandable>
</ng-container>
