@use './../index' as core;

:root {
  --fudis-rem-multiplier: 1;
  --fudis-color-primary-light: #daedff;
  --fudis-color-primary: #1076db;
  --fudis-color-primary-dark: #1d65b8;
}

html {
  font-size: 100%;
}
