name: Update versions index

permissions:
  contents: read

on:
  push:
    branches:
      - "DS-309-version-selector-for-docs"
  workflow_dispatch:

jobs:
  update-versions:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Generate and upload versions.json
        run: |
          set -e

          VERSIONS=$(aws s3 ls s3://${{ secrets.AWS_S3_BUCKET_NAME }}/ngx/v/ \
            | grep 'PRE' \
            | awk '{print $2}' \
            | sed 's|/||g' \
            | jq -R -s -c 'split("\n") | map(select(length > 0))')

          LATEST=$(echo "$VERSIONS" | jq -r '.[-1]')

          echo "{\"versions\": $VERSIONS, \"latest\": \"$LATEST\"}" > /tmp/versions.json

          echo "VERSIONS=$VERSIONS"
          echo "LATEST=$LATEST"

           aws   s3 cp /tmp/versions.json \
              s3://${{ secrets.AWS_S3_BUCKET_NAME }}/ngx/v/versions.json \
              --cache-control max-age=60

      - name: Verify uploaded versions.json
        run: |
          set -e

          echo "versions from S3 bucket: "
          aws s3 cp \
            s3://${{ secrets.AWS_S3_BUCKET_NAME }}/ngx/v/versions.json \
            -
