name: Run test suite

on:
  push:
    branches-ignore:
      - main

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.14
      - name: Install Angular CLI
        run: npm i -g @angular/cli@v15
      - name: Install dependencies
        run: npm ci
        working-directory: ngx-fudis
      - name: Run tests
        run: ng test ngx-fudis --watch false --browsers ChromeHeadless
        working-directory: ngx-fudis
      - name: Run linter
        run: ng lint
        working-directory: ngx-fudis
